.azertypeSection {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto;
    background-color: $aztPrimary;
    box-shadow: $shadow;
    border-radius: 1.5rem;

    h2,
    h3,
    p,
    button,
    label {
        text-align: center;
        color: $white;
    }

    button {
        padding: 0.75rem 1.5rem;
        font-size: 16px;
        background-color: $aztPrimary;
        border: 2px solid $white;
        border-radius: 5rem;
    }

    .titles {
        h2 {
            font-size: 32px;
            margin-bottom: 1rem;
        }

        p {
            font-size: 20px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;

        & > p {
            margin-bottom: 1rem;
        }

        .options {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;

            div {
                margin: 0 1rem;
            }
        }

        h3 {
            width: 100%;
            padding: 1rem 2rem;
            background-color: $aztPrimary;
            color: $white;
            border: 2px solid $white;
            border-radius: 1rem;
        }

        form {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 1rem auto;

            input {
                width: 82%;
                padding: 0.75rem 1.5rem;
                font-size: 16px;
                border: 0;
                border-radius: 1rem;
            }
        }

        .score {
            margin: 1rem 0;
            font-size: 18px;
            font-weight: 700;
        }

        .searchBtn {
            width: 30%;
            margin: 1rem auto 0 auto;
        }
    }
}
