@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  color: black;
  background-color: #e8e8e8;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding: 5rem 0;
}
@media screen and (max-width: 450px) {
  section {
    width: 90%;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #0013a1;
}
header a {
  display: flex;
  align-items: center;
}
header a img {
  height: 48px;
  margin-right: 1rem;
}
header a p {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.homePage .homeSection {
  width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 25%));
  grid-template-rows: auto;
  justify-content: center;
  padding: 6rem 7rem;
  margin: 0 auto;
}
.homePage .homeSection .homeProjectCard {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto 2rem auto;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0px 7px 15px 5px #b6b6b6;
}
.homePage .homeSection .homeProjectCard img {
  width: auto;
  height: 64px;
}

.pokemonMain {
  min-height: calc(100vh - 6rem);
  background-image: url("../../../assets/pokemon-ball-house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.pokemonSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.pokemonSection h2,
.pokemonSection h3,
.pokemonSection li,
.pokemonSection p {
  text-align: center;
}
.pokemonSection form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 5px #b6b6b6;
}
.pokemonSection form h2 {
  margin-bottom: 1rem;
}
.pokemonSection form p {
  margin-bottom: 1rem;
}
.pokemonSection form input {
  width: 80%;
  padding: 1rem 2rem;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-align: center;
}
.pokemonSection form input:focus {
  outline: none;
}
.pokemonSection form input::placeholder {
  font-size: 16px;
}
.pokemonSection .pokemonCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: white;
  box-shadow: 0 5px 15px grey;
  border-radius: 1.5rem;
}
.pokemonSection .pokemonCard p {
  text-transform: capitalize;
}
.pokemonSection .pokemonCard__header {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.pokemonSection .pokemonCard__header #pokemonName {
  font-weight: 700;
}
.pokemonSection .pokemonCard__header img {
  width: 80px;
  height: auto;
  margin: 1rem;
}
.pokemonSection .pokemonCard__stats {
  width: 600px;
  padding: 1rem 3rem;
  margin-top: 2rem;
}
.pokemonSection .pokemonCard__stats ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pokemonSection .pokemonCard__stats ul li {
  width: 210px;
  display: flex;
  margin: 0.5rem 1rem;
}
.pokemonSection .pokemonCard__stats ul li h3 {
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.card {
  display: none;
}

.azertypeSection {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  background-color: #f7a100;
  box-shadow: 0px 7px 15px 5px #b6b6b6;
  border-radius: 1.5rem;
}
.azertypeSection h2,
.azertypeSection h3,
.azertypeSection p,
.azertypeSection button,
.azertypeSection label {
  text-align: center;
  color: #ffffff;
}
.azertypeSection button {
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  background-color: #f7a100;
  border: 2px solid #ffffff;
  border-radius: 5rem;
}
.azertypeSection .titles h2 {
  font-size: 32px;
  margin-bottom: 1rem;
}
.azertypeSection .titles p {
  font-size: 20px;
}
.azertypeSection .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.azertypeSection .content > p {
  margin-bottom: 1rem;
}
.azertypeSection .content .options {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.azertypeSection .content .options div {
  margin: 0 1rem;
}
.azertypeSection .content h3 {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #f7a100;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 1rem;
}
.azertypeSection .content form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}
.azertypeSection .content form input {
  width: 82%;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  border: 0;
  border-radius: 1rem;
}
.azertypeSection .content .score {
  margin: 1rem 0;
  font-size: 18px;
  font-weight: 700;
}
.azertypeSection .content .searchBtn {
  width: 30%;
  margin: 1rem auto 0 auto;
}

.calculatorBody header {
  background-color: #2c2d38;
  border-bottom: 1px solid white;
}

.calculatorMain {
  min-width: 100vh;
  min-height: calc(100vh - 6rem);
  background-color: #2c2d38;
}
.calculatorMain .calculatorSection {
  display: flex;
  justify-content: center;
}
.calculatorMain .calculatorSection .calculator {
  max-width: 320px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.8), -3px -3px 10px 2px rgba(255, 255, 255, 0.2);
}
.calculatorMain .calculatorSection .calculator .calculatorRow {
  display: flex;
}
.calculatorMain .calculatorSection .calculator .calculatorRow__result {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
}
.calculatorMain .calculatorSection .calculator .calculatorRow__result input {
  height: 38px;
  font-size: 32px;
  text-align: right;
  background-color: transparent;
  color: white;
  border: 0;
  pointer-events: none;
}
.calculatorMain .calculatorSection .calculator .calculatorRow p,
.calculatorMain .calculatorSection .calculator .calculatorRow button {
  color: white;
}
.calculatorMain .calculatorSection .calculator .calculatorRow button {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.8), -3px -3px 10px 2px rgba(255, 255, 255, 0.2);
}
.calculatorMain .calculatorSection .calculator .calculatorRow button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.calculatorMain .calculatorSection .calculator .calculatorRow button:active {
  font-size: 16px;
  box-shadow: none;
}
.calculatorMain .calculatorSection .calculator .calculatorRow #zero {
  width: 7rem;
}

.headerToDoList {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.toDoListMain {
  width: max-content;
  min-height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  margin: 6rem auto 0 auto;
  /* ===  === */
  /* === Error === */
  /* ===  === */
}
.toDoListMain .headerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
  text-align: center;
  background-color: #0013a1;
  color: white;
  border-radius: 1rem;
  box-shadow: 0px 7px 15px 5px #b6b6b6;
}
.toDoListMain .headerMain h2 {
  margin-bottom: 1rem;
}
.toDoListMain .headerMain form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
}
.toDoListMain .headerMain form input {
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  font-size: 16px;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
}
.toDoListMain .headerMain form button {
  background-color: #0013a1;
  color: white;
  border: 2px solid white;
}
.toDoListMain .headerMain form button:hover {
  background-color: white;
  color: #0013a1;
  border: 2px solid white;
}
.toDoListMain button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 16px;
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 5rem;
  cursor: pointer;
}
.toDoListMain button:hover {
  background-color: red;
  color: white;
  border: 2px solid red;
}
.toDoListMain .contentToDoList {
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 7px 15px 5px #b6b6b6;
}
.toDoListMain .contentToDoList table, .toDoListMain .contentToDoList thead, .toDoListMain .contentToDoList tbody {
  border-collapse: collapse;
}
.toDoListMain .contentToDoList table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 1px solid black;
}
.toDoListMain .contentToDoList table thead td {
  padding: 1rem;
  font-weight: 800;
  background-color: #0013a1;
  color: white;
}
.toDoListMain .contentToDoList table thead td:nth-child(1) div,
.toDoListMain .contentToDoList table tbody td:nth-child(1) {
  width: 16px;
  height: 16px;
}
.toDoListMain .contentToDoList table thead td:nth-child(2),
.toDoListMain .contentToDoList table tbody td:nth-child(2) {
  width: 300px;
  height: auto;
}
.toDoListMain .contentToDoList table thead td:nth-child(3),
.toDoListMain .contentToDoList table tbody td:nth-child(3) {
  width: 150px;
}
.toDoListMain .contentToDoList table thead td:nth-child(4),
.toDoListMain .contentToDoList table tbody td:nth-child(4) {
  width: 144px;
}
.toDoListMain .contentToDoList table tbody {
  display: flex;
  flex-direction: column;
  /* tr:first-child {
      border: 0;
  } */
}
.toDoListMain .contentToDoList table tbody tr {
  border-bottom: 1px solid black;
}
.toDoListMain .contentToDoList table tbody tr td {
  padding: 0.5rem 1rem;
}
.toDoListMain .contentToDoList table tbody tr td:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: break-word;
}
.toDoListMain .contentToDoList table tbody tr td input {
  width: 16px;
  height: 16px;
  margin: 0;
}
.toDoListMain .contentToDoList table tbody tr:last-child {
  border: 0;
}
.toDoListMain .multiRemoveError {
  margin: 1rem 0;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
