.homePage {
    .homeSection {
        width: 1200px;
        height: auto;
        display: grid;
        grid-template-columns: repeat(
            auto-fit,
            minmax(calc(50% / 2), calc(100% / 4))
        );
        grid-template-rows: auto;
        justify-content: center;
        padding: 6rem 7rem;
        margin: 0 auto;

        .homeProjectCard {
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 2rem;
            margin: 0 auto 2rem auto;
            background-color: $white;
            border-radius: 1.5rem;
            box-shadow: $shadow;

            img {
                width: auto;
                height: 64px;
            }
        }
    }
}
