$bgLight: #e8e8e8;

$white: #ffffff;
$black: #000000;

$darkColor: #0013a1;

// Pokemon Color
$electric: #ffc800;
$normal: #939393;
$fire: #c21d1d;
$water: #1d43c2;
$ice: #1da9c2;
$rock: #3a3b3b;
$flying: #b4b8b8;
$grass: #054f09;
$psychic: #ffc6d9;
$ghost: #561d25;
$bug: #a2faa3;
$poison: #795663;
$ground: #d2b074;
$dragon: #da627d;
$steel: #1d8a99;
$fighting: #2f2f2f;
$default: #2a1a1f;
